body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.resume__container {
    max-width: 60rem;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.resume__title {
    letter-spacing: -0.05em;
}

header {
    border-bottom: 1px solid black;
}

.muted-left-border {
    border-left: 2px solid #ccc;
    padding-left: 2rem;
}
